.menuWrapper {
  display: grid;
  position: relative;
  font-size: 2rem;
  margin: 0 auto;
  grid-template-columns: 55% 45%
}

.pageTitle {
  display: flex;
  justify-content: flex-end;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & a {
    margin: 0 15px;
    padding: 0;
  }
}